CompileFlags:
  Add:
    - "-std=c++23"
    - "-pedantic-errors"
    - "-Wall"
    - "-Wconversion"
    - "-Wsign-conversion"
    - "–Wimplicit-fallthrough" 
    - "-O3"
    - "-I./imgui"
    - "-I./imgui-sfml"
